.admin-action {
    font-size: 0.8em;
    padding: 10px;
}

.admin-action__list {
    display: flex;
}

.admin-action__item {
    display: block;
    padding: .40em .4em;
    font-size: 1em;
    width: 130px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #007bff;
    margin-left: 1px;
    margin-right: 1px;

}

.admin-action__list--right {
    justify-content: flex-end;
}

.admin-action__item--danger {
    background-color: red;
}

.admin-action__item--large {
    font-size: 1.4em;
    width: 250px;
}

.admin-action__list--center {
    justify-content: center;
}
