.application-card {
    padding: 3px;
    display: flex;
    flex-basis: 47%;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
    text-align: left;
    height: 200px;
}

@media (max-width: 768px) {
    .application-card {
        flex-basis: 100%;
    }
}

.application-card__note {
    font-size: 0.8em;
}

.application-card__thumnail {

    flex: 1 0 30%;
}

.application-card__detail {
    flex-basis: auto;
    padding-left: 3px;
    flex: 1 0 70%;
}

.application-card__overview {
    padding: 6px;
    font-size: 0.7em;
}
