.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.badge--progress {
    color: #fff;
    background-color: #17a2b8;
}

.badge--release {
    color: #fff;
    background-color: #dc3545;
}

.badge--report {
    color: #fff;
    background-color: #007bff;
}

.badge--required {
    color: #fff;
    background-color: #dc3545;
}

.badge--optional {
    color: #fff;
    background-color: #767172;
}

.badge--edit {
    color: #fff;
    background-color: #007bff;
    width: 80%;
    padding: .5em .4em;
    font-size: 100%;
}

