.button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-appearance: button;
    text-transform: none;
    border: 0;
    padding: 12px 34px;
    color: #fff;
    border-radius: 50px;
}

.button:hover {
    opacity: 0.7;
}


.button--login {
    background: #ffffff;
    width: 45%;
    margin-bottom: 1rem;
    color: #000;
}

.button--default {
    background: #47b2e4;
}

.button--more {
    background: #47b2e4;
    width: 80%;
    max-width: 480px;
}
