.input-form {
    width: 100%;
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;

    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding: 30px;
}


.input-form__item {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

.input-form__input {
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    display: block;
    height: 30px;
    width: 100%;
    padding: 6px 12px;
    color: #495057;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.input-form__error-message {
    font-size: 0.8em;
    color: red;
    display: none;
}

.input-form__error-message.has-error ~ .input-form__input {
    color: #630015;
    border-color: #c20c33;
    background-color: #ffd9e14a;
}

.input-form__input--w50per {
    width: 50%;
    min-width: 240px;
}

.input-form__input--h200px {
    height: 200px;
}

.input-form__submit {
    text-align: center;
}
