.modal-confirm {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
    left: 0px;
    z-index: 9999;
}

.modal-confirm__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100vw;
}

.modal-confirm__content {
    background: #fff;
    left: 50%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}

.modal-confirm__title {
    padding-bottom: 10px;
    font-size: 1.3em;
    text-align: center;
    position: relative;
    color: #37517e;
}

.modal-confirm__title::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

.modal-confirm__message {
    color: #ff0000;
    text-align: left;
    max-width: 430px;
    margin-right: auto;
    margin-left: auto;
}

