.user-post {}


.user-post__item {
    background: #f3f5fa;
    padding: 15px;
    margin-bottom: 5px
}

.user-post__head {
    display: flex;
    justify-content: space-between;

}

.user-post__body {
    margin-top: 1rem;
    text-align: left;
    font-size: 0.8em;
}
